In [238]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import re

In [239]:
df0 = pd.read_json('scout_car.zip',compression='zip', lines=True)

In [240]:
df = df0.copy()

In [241]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [242]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [243]:
my_list = []
for i in df.columns:
    my_list.append(i.lower().replace('-','_').replace(' ', '_').replace('.', '').replace('&', '').replace('\n', '' ).replace('__', '_'))

In [244]:
print(my_list)

['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kw', 'hp', 'type', 'previous_owners', 'next_inspection', 'inspection_new', 'warranty', 'full_service', 'non_smoking_vehicle', 'null', 'make', 'model', 'offer_number', 'first_registration', 'body_color', 'paint_type', 'body_color_original', 'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code', 'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption', 'co2_emission', 'emission_class', 'comfort_convenience', 'entertainment_media', 'extras', 'safety_security', 'description', 'emission_label', 'gears', 'country_version', 'electricity_consumption', 'last_service_date', 'other_fuel_types', 'availability', 'last_timing_belt_service_date', 'available_from']

In [245]:
df.columns = my_list

## url

In [246]:
df["url"].value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

## make_model

In [247]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [248]:
df['make1']= df['make_model'].str.split(' ').str[0]
df['model1']= df['make_model'].str.split(' ').str[1]

In [249]:
df.make1.value_counts(dropna=False), df.model1.value_counts(dropna=False)

(Opel       7343
 Audi       5712
 Renault    2864
 Name: make1, dtype: int64,
 A3          3097
 A1          2614
 Insignia    2598
 Astra       2526
 Corsa       2219
 Clio        1839
 Espace       991
 Duster        34
 A2             1
 Name: model1, dtype: int64)

df.body_type.value_counts(dropna=False)

## short_description, body_type, price, vat, km

In [250]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
None                                              46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [251]:
del df["short_description"]

In [252]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
None               60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [253]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [254]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
None                 4513
Price negotiable      426
Name: vat, dtype: int64

In [255]:
df.km.value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [256]:
df.km = df.km.str.replace(",","").str.replace(" km", "").str.replace("-", '0')

In [257]:
df.km.value_counts(dropna=False)

10       1045
0        1043
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6689, dtype: int64

## co2_emission

In [258]:
df["co2_emission"].value_counts(dropna=False)

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: co2_emission, Length: 124, dtype: int64

In [259]:
df.co2_emission = df.co2_emission.astype(str)

In [260]:
(df.co2_emission.str.count("CO2").value_counts(dropna=False), 
df.co2_emission.str.count("(\d+) g").value_counts(dropna=False),
df.co2_emission.str.count("\d+ g CO2\Skm \(comb\)").value_counts(dropna=False),
df.co2_emission.str.count("\d+,\d").value_counts(dropna=False)
)

(1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 0    15912
 1        7
 Name: co2_emission, dtype: int64)

In [261]:
df["co2_emission"].str.match("\D+\d+,\d+|\d+,\d+").value_counts()

False    15912
True         7
Name: co2_emission, dtype: int64

In [262]:
df["co2_emission"][df["co2_emission"].str.match("\D+\d+,\d+|\d+,\d+")]

4089      ['\n1,060 g CO2/km (comb)\n']
5818     ['\n12,087 g CO2/km (comb)\n']
6578     ['\n12,087 g CO2/km (comb)\n']
6579     ['\n12,087 g CO2/km (comb)\n']
8542     ['\n12,324 g CO2/km (comb)\n']
11888    ['\n14,457 g CO2/km (comb)\n']
12343    ['\n13,983 g CO2/km (comb)\n']
Name: co2_emission, dtype: object

In [263]:
df["co2_emission"] = df["co2_emission"].str.replace(",", "")

In [264]:
co2_emission_df =  df["co2_emission"].str.extract("(\d+) g", expand=True)
co2_emission_df.value_counts(dropna=False), co2_emission_df.count()

(NaN    2436
 120     740
 99      545
 97      537
 104     501
        ...
 193       1
 239       1
 253       1
 331       1
 181       1
 Length: 123, dtype: int64,
 0    13483
 dtype: int64)

## emission_class

In [265]:
df["emission_class"].value_counts(dropna=False)

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [266]:
df["emission_class"] = df["emission_class"].astype(str)

In [267]:
emission_class_df = df["emission_class"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True)
emission_class_df.value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
dtype: int64

## consumption

In [268]:
df["consumption"].value_counts(dropna=False)

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64

In [269]:
df["consumption"] = df["consumption"].astype(str)

In [270]:
(df["consumption"].str.count("comb").value_counts(dropna=False),
df["consumption"].str.count("city").value_counts(dropna=False),
df["consumption"].str.count("country").value_counts(dropna=False),
df["consumption"].str.count("g").value_counts(dropna=False),
df["consumption"].str.count("l/100").value_counts(dropna=False),
df["consumption"].str.count("CO2").value_counts(dropna=False)
)

(1    13886
 0     2033
 Name: consumption, dtype: int64,
 1    13483
 0     2436
 Name: consumption, dtype: int64,
 1    13543
 0     2376
 Name: consumption, dtype: int64,
 0    15888
 3       31
 Name: consumption, dtype: int64,
 3    13333
 0     1937
 1      478
 2      171
 Name: consumption, dtype: int64,
 0    15919
 Name: consumption, dtype: int64)

In [271]:
df["consumption"][df["consumption"].str.count("g") > 1].sample(5)

3723    [['3.3 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
3625    [['5.4 kg/100 km (comb)'], ['6.8 kg/100 km (ci...
3651    [['3.5 kg/100 km (comb)'], ['4.5 kg/100 km (ci...
3117    [['3.4 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
3346    [['3.3 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
Name: consumption, dtype: object

In [272]:
comb_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+comb|(\d+\.\d+|\d+) kg/100\D+comb",expand=True)
comb_consumption_df.count().value_counts(dropna=False)
# Daha sonra birleştirilmek üzere ayrı bir df oluşturuldu

13855    1
31       1
dtype: int64

In [273]:
city_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+city|(\d+\.\d+|\d+) kg/100\D+city",expand=True)
city_consumption_df.count().value_counts(dropna=False)

13452    1
31       1
dtype: int64

In [274]:
country_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+country|(\d+\.\d+|\d+) kg/100\D+country",expand=True)
country_consumption_df.count().value_counts(dropna=False)

13512    1
31       1
dtype: int64

## emission_label

In [275]:
df.emission_label.value_counts()

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: emission_label, dtype: int64

In [276]:
df["emission_label"] = df["emission_label"].astype(str)

In [277]:
emission_label_df = df["emission_label"].str.extract("(\d+) \(\w+", expand=True)
emission_label_df.value_counts(dropna=False)

NaN    11974
4       3553
1        381
5          8
3          2
2          1
dtype: int64

## previous_owners

In [278]:
df["previous_owners"]

0                                                    \n2\n
1                                                      NaN
2                                                    \n1\n
3                                                    \n1\n
4                                                    \n1\n
                               ...
15914                                                  NaN
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916                     [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                  NaN
15918                                                \n1\n
Name: previous_owners, Length: 15919, dtype: object

In [279]:
df["previous_owners"].value_counts(dropna=False)

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 103, dtype: int64

In [280]:
df["previous_owners"] = df["previous_owners"].astype(str)

In [281]:
(df["previous_owners"].str.count("comb").value_counts(dropna=False),
df["previous_owners"].str.count("city").value_counts(dropna=False),
df["previous_owners"].str.count("country").value_counts(dropna=False))

(0    15692
 1      227
 Name: previous_owners, dtype: int64,
 0    15864
 1       55
 Name: previous_owners, dtype: int64,
 0    15864
 1       55
 Name: previous_owners, dtype: int64)

In [282]:
df["previous_owners"].str.count("l/100").value_counts(dropna=False)

0    15864
3       55
Name: previous_owners, dtype: int64

In [283]:
(df["previous_owners"].str.count("\d+\\n").value_counts(dropna=False),
df["previous_owners"].str.count("CO2").value_counts(dropna=False),
df["previous_owners"].str.count("Euro").value_counts(dropna=False))

(1    9049
 0    6870
 Name: previous_owners, dtype: int64,
 0    15749
 1      170
 Name: previous_owners, dtype: int64,
 0    15918
 1        1
 Name: previous_owners, dtype: int64)

In [284]:
df["previous_owners2"] = df["previous_owners"].str.extract("\\n(\d+)\\n", expand=False) #"(\d)"
df["previous_owners2"].value_counts(dropna=False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: previous_owners2, dtype: int64

In [285]:
comb_consumption_df["previous_owners"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["previous_owners"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["previous_owners"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [286]:
comb_consumption_df.sample(2)

         0    1 previous_owners
6090   3.7  NaN             NaN
12673  5.7  NaN             NaN

In [287]:
co2_emission_df["previous_owners"]=  df["previous_owners"].str.extract("(\d+) g", expand=False)
co2_emission_df["previous_owners"].count()

170

In [288]:
co2_emission_df.sample(5)

         0 previous_owners
434     99             NaN
5542   118             NaN
12809  131             NaN
8014   107             NaN
7978   110             NaN

## next_inspection

In [289]:
df.next_inspection.value_counts(dropna=False)

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: next_inspection, Length: 1400, dtype: int64

In [290]:
df["next_inspection"] = df["next_inspection"].astype(str)

In [291]:
(df["next_inspection"].str.count("(\d+/\d+)").value_counts(dropna=False), # 3535
df["next_inspection"].str.count("sticker").value_counts(dropna=False), #drop data
df["next_inspection"].str.count("(\d+) \(\w+").value_counts(dropna=False), # 134 emissin_label
df["next_inspection"].str.count("CO2").value_counts(dropna=False), # 2309 data
df["next_inspection"].str.count("Euro").value_counts(dropna=False), # 73 data
df["next_inspection"].str.count("comb").value_counts(dropna=False), # 239 data
df["next_inspection"].str.count("city").value_counts(dropna=False), # 239 data
df["next_inspection"].str.count("country").value_counts(dropna=False)) # 239 data

(0    12384
 1     3535
 Name: next_inspection, dtype: int64,
 0    15918
 1        1
 Name: next_inspection, dtype: int64,
 0    15785
 1      134
 Name: next_inspection, dtype: int64,
 0    13610
 1     2309
 Name: next_inspection, dtype: int64,
 0    15846
 1       73
 Name: next_inspection, dtype: int64,
 0    13333
 1     2586
 Name: next_inspection, dtype: int64,
 0    15680
 1      239
 Name: next_inspection, dtype: int64,
 0    15680
 1      239
 Name: next_inspection, dtype: int64)

In [292]:
df["next_inspection"].str.extract("(\d+/\d+)", expand=False)

0        06/2021
1            NaN
2            NaN
3            NaN
4            NaN
          ...
15914        NaN
15915    01/2022
15916        NaN
15917        NaN
15918        NaN
Name: next_inspection, Length: 15919, dtype: object

In [293]:
inspection_df = pd.DataFrame()

In [294]:
inspection_df["next_inspection"] = pd.to_datetime(df["next_inspection"].str.extract("(\d+/\d+)", expand=False), errors='coerce')

In [295]:
inspection_df

      next_inspection
0          2021-06-01
1                 NaT
2                 NaT
3                 NaT
4                 NaT
...               ...
15914             NaT
15915      2022-01-01
15916             NaT
15917             NaT
15918             NaT

[15919 rows x 1 columns]

In [296]:
(df["next_inspection"].str.count("(\d+,\d+) g").value_counts(dropna=False),
df["next_inspection"].str.extract("(\d+) g", expand=False))

(0    15919
 Name: next_inspection, dtype: int64,
 0         99
 1        NaN
 2        NaN
 3        NaN
 4        NaN
         ...
 15914    NaN
 15915    168
 15916    NaN
 15917    NaN
 15918    NaN
 Name: next_inspection, Length: 15919, dtype: object)

In [297]:
co2_emission_df["next_inspection"] =  df["next_inspection"].str.extract("(\d+) g", expand=False)
co2_emission_df["next_inspection"].count()

2309

In [298]:
emission_class_df["next_inspection"] = df["next_inspection"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True)
emission_class_df["next_inspection"].count()

73

In [299]:
comb_consumption_df["next_inspection"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["next_inspection"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["next_inspection"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [300]:
comb_consumption_df.sample(5)

        0    1 previous_owners next_inspection
2911  3.9  NaN             NaN             NaN
5921  NaN  NaN             NaN             NaN
342     4  NaN             NaN             NaN
2899  3.8  NaN             NaN             NaN
4455  4.4  NaN             NaN             NaN

In [301]:
emission_label_df["next_inspection"] = df["next_inspection"].str.extract("(\d+) \(\w+", expand=True)
emission_label_df["next_inspection"].value_counts(dropna=False)

NaN    15785
4        132
1          1
3          1
Name: next_inspection, dtype: int64

## inspection_new

In [302]:
df["inspection_new"]

0                     [\nYes\n, \nEuro 6\n]
1                                       NaN
2                                       NaN
3                                       NaN
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                   NaN
15915                                   NaN
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                   NaN
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: inspection_new, Length: 15919, dtype: object

In [303]:
df["inspection_new"] = df["inspection_new"].astype(str)

In [304]:
(df["inspection_new"].str.count("Yes").value_counts(dropna=False),#3932 data
df["inspection_new"].str.count("CO2").value_counts(dropna=False), #2211 data
df["inspection_new"].str.count("Euro").value_counts(dropna=False), #690 data
df["inspection_new"].str.count("(\d+/\d+)").value_counts(dropna=False)) #0 data

(0    11987
 1     3932
 Name: inspection_new, dtype: int64,
 0    13708
 1     2211
 Name: inspection_new, dtype: int64,
 0    15229
 1      690
 Name: inspection_new, dtype: int64,
 0    15919
 Name: inspection_new, dtype: int64)

In [305]:
(df["inspection_new"].str.count("comb").value_counts(dropna=False), # 331 data
df["inspection_new"].str.count("city").value_counts(dropna=False), # 331 data
df["inspection_new"].str.count("country").value_counts(dropna=False)) # 331 data

(0    13286
 1     2633
 Name: inspection_new, dtype: int64,
 0    15588
 1      331
 Name: inspection_new, dtype: int64,
 0    15588
 1      331
 Name: inspection_new, dtype: int64)

In [306]:
inspection_df["inspection_new"] = df["inspection_new"].str.extract("(Yes|No)\W+", expand=False)
inspection_df["inspection_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: inspection_new, dtype: int64

In [307]:
inspection_df.head()

  next_inspection inspection_new
0      2021-06-01            Yes
1             NaT            NaN
2             NaT            NaN
3             NaT            NaN
4             NaT            Yes

In [308]:
co2_emission_df["inspection_new"] =  df["inspection_new"].str.extract("(\d+) g", expand=False)
co2_emission_df["inspection_new"].count()

2211

In [309]:
co2_emission_df.sample(5)

         0 previous_owners next_inspection inspection_new
7643   151             NaN             NaN            NaN
13725  NaN             NaN             NaN            NaN
11585  NaN             NaN             NaN            NaN
4420   110             NaN             NaN            NaN
8222   135             NaN             NaN            NaN

In [310]:
emission_class_df["inspection_new"] = df["inspection_new"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=False)
emission_class_df["inspection_new"].count()

690

In [311]:
comb_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [312]:
comb_consumption_df.sample(4)

         0    1 previous_owners next_inspection inspection_new
14823  5.6  NaN             NaN             NaN            NaN
946      5  NaN             NaN             NaN            NaN
9356     6  NaN             NaN             NaN            NaN
5606   5.1  NaN             NaN             NaN            NaN

## warranty

In [313]:
df["warranty"]

0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: warranty, Length: 15919, dtype: object

In [314]:
df["warranty"] = df["warranty"].astype(str)

In [315]:
(df["warranty"].str.count("(\d+) mon|day|year").value_counts(dropna=False),#4853 data
df["warranty"].str.count("CO2").value_counts(dropna=False), #3074 data
df["warranty"].str.count("Euro").value_counts(dropna=False)) #3002 data

(0    11066
 1     4853
 Name: warranty, dtype: int64,
 0    12845
 1     3074
 Name: warranty, dtype: int64,
 0    12917
 1     3002
 Name: warranty, dtype: int64)

In [316]:
(df["warranty"].str.count("comb").value_counts(dropna=False), # 116 data
df["warranty"].str.count("city").value_counts(dropna=False), # 116 data
df["warranty"].str.count("country").value_counts(dropna=False),) # 116 data)

(0    12715
 1     3204
 Name: warranty, dtype: int64,
 0    15803
 1      116
 Name: warranty, dtype: int64,
 0    15803
 1      116
 Name: warranty, dtype: int64)

In [317]:
(df["warranty"].str.count("(\d+) \(\w+\)").value_counts(dropna=False),
df["warranty"].str.count("Green").value_counts(dropna=False),
df["warranty"].str.count("Blue").value_counts(dropna=False))

(0    15228
 1      691
 Name: warranty, dtype: int64,
 0    15236
 1      683
 Name: warranty, dtype: int64,
 0    15911
 1        8
 Name: warranty, dtype: int64)

In [318]:
df["warranty"][df["warranty"].str.count("Blue") == True].index == df["emission_label"][df["emission_label"].str.count("Blue") == True].index 
#aynı veri emission labelde mevcut mu kontrol etmek istedim

array([False, False, False, False, False, False, False, False])

In [319]:
df["warranty2"] = df["warranty"].str.extract("(\d+) mont")
df["warranty2"].count()

4853

In [320]:
co2_emission_df["warranty"] =  df["warranty"].str.extract("(\d+) g", expand=False)
co2_emission_df["warranty"].count()

3074

In [321]:
emission_class_df["warranty"] = df["warranty"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=False)
emission_class_df["warranty"].count()

3002

In [322]:
comb_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [323]:
emission_label_df["warranty"] = df["warranty"].str.extract("(\d+) \(\w+", expand=False)
emission_label_df["warranty"].value_counts(dropna=False)

NaN    15207
4        683
1         21
5          8
Name: warranty, dtype: int64

In [324]:
emission_label_df

         0 next_inspection warranty
0      NaN             NaN        4
1        4             NaN      NaN
2        4             NaN      NaN
3      NaN             NaN      NaN
4      NaN             NaN      NaN
...    ...             ...      ...
15914  NaN             NaN      NaN
15915  NaN             NaN      NaN
15916  NaN             NaN        4
15917  NaN             NaN      NaN
15918    4             NaN      NaN

[15919 rows x 3 columns]

## full_service

In [325]:
df.full_service

0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: full_service, Length: 15919, dtype: object

In [326]:
df["full_service"].value_counts(dropna=False)

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 123, dtype: int64

In [327]:
df["full_service"] = df["full_service"].astype(str)

In [328]:
(df["full_service"].str.count("(Yes|No)\W+").value_counts(dropna=False),# 29 data
df["full_service"].str.count("CO2").value_counts(dropna=False), # 1363 data / co2 emission
df["full_service"].str.count("Euro").value_counts(dropna=False)) # 2544 data /emission_class

(0    15890
 1       29
 Name: full_service, dtype: int64,
 0    14556
 1     1363
 Name: full_service, dtype: int64,
 0    13375
 1     2544
 Name: full_service, dtype: int64)

In [329]:
df[df["full_service"].str.count("(Yes|No)\W+") == 1]["full_service"].sample(5)

11053    ['\n', '\n', '\n1 (No sticker)\n']
1203     ['\n', '\n', '\n1 (No sticker)\n']
4213     ['\n', '\n', '\n1 (No sticker)\n']
230      ['\n', '\n', '\n1 (No sticker)\n']
1609     ['\n', '\n', '\n1 (No sticker)\n']
Name: full_service, dtype: object

In [330]:
(df["full_service"].str.count("comb").value_counts(dropna=False), # 38 data / comb_consumption
df["full_service"].str.count("city").value_counts(dropna=False), # 38 data / city_consumption
df["full_service"].str.count("country").value_counts(dropna=False),) # 38 data) / country_consumption

(0    14514
 1     1405
 Name: full_service, dtype: int64,
 0    15881
 1       38
 Name: full_service, dtype: int64,
 0    15881
 1       38
 Name: full_service, dtype: int64)

In [331]:
(df["full_service"].str.count("(\d+) \(\w+").value_counts(dropna=False), # 2252 data / emission_label
df["full_service"].str.count("Green").value_counts(dropna=False), # 2235 data 
df["full_service"].str.count("Blue").value_counts(dropna=False)) # 17 data

(0    13638
 1     2281
 Name: full_service, dtype: int64,
 0    13684
 1     2235
 Name: full_service, dtype: int64,
 0    15902
 1       17
 Name: full_service, dtype: int64)

In [332]:
co2_emission_df["full_service"] =  df["full_service"].str.extract("(\d+) g", expand=True)

emission_class_df["full_service"] = df["full_service"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True)

comb_consumption_df["full_service"] = df["full_service"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["full_service"] = df["full_service"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["full_service"] = df["full_service"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

emission_label_df["full_service"] = df["full_service"].str.extract("(\d+) \(\w+", expand=False)

## non_smoking_vehicle

In [333]:
df["non_smoking_vehicle"].sample(10)

753      [\n, \n]
10856         NaN
14795         NaN
3915          NaN
1573          NaN
5843          NaN
2803          NaN
12964         NaN
15418         NaN
4261          NaN
Name: non_smoking_vehicle, dtype: object

In [334]:
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].astype(str)

In [335]:
(df["non_smoking_vehicle"].str.count("(Yes|No) ").value_counts(dropna=False),#8766 data
df["non_smoking_vehicle"].str.count("CO2").value_counts(dropna=False), #1363 data / co2 emission
df["non_smoking_vehicle"].str.count("Euro").value_counts(dropna=False)) #2544 data /emission_class

(0    15895
 1       24
 Name: non_smoking_vehicle, dtype: int64,
 0    15249
 1      670
 Name: non_smoking_vehicle, dtype: int64,
 0    14417
 1     1502
 Name: non_smoking_vehicle, dtype: int64)

In [336]:
df[df["non_smoking_vehicle"].str.count("(Yes|No) ") == 1]["non_smoking_vehicle"].value_counts(dropna=False)

['\n', '\n', '\n1 (No sticker)\n']    24
Name: non_smoking_vehicle, dtype: int64

In [337]:
(df["non_smoking_vehicle"].str.count("comb").value_counts(dropna=False), # 15 data / comb_consumption
df["non_smoking_vehicle"].str.count("city").value_counts(dropna=False), # 15 data / city_consumption
df["non_smoking_vehicle"].str.count("country").value_counts(dropna=False),) # 15 data) / country_consumption

(0    15233
 1      686
 Name: non_smoking_vehicle, dtype: int64,
 0    15904
 1       15
 Name: non_smoking_vehicle, dtype: int64,
 0    15904
 1       15
 Name: non_smoking_vehicle, dtype: int64)

In [338]:
(df["non_smoking_vehicle"].str.count("(\d+) \(\w+").value_counts(dropna=False), # 2272 data / emission_label
df["non_smoking_vehicle"].str.count("Green").value_counts(dropna=False), # 2235 data 
df["non_smoking_vehicle"].str.count("Blue").value_counts(dropna=False)) # 17 data

(0    14647
 1     1272
 Name: non_smoking_vehicle, dtype: int64,
 0    14679
 1     1240
 Name: non_smoking_vehicle, dtype: int64,
 0    15911
 1        8
 Name: non_smoking_vehicle, dtype: int64)

In [339]:
co2_emission_df["non_smoking"] =  df["non_smoking_vehicle"].str.extract("(\d+) g", expand=True)

emission_class_df["non_smoking"] = df["non_smoking_vehicle"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True)

comb_consumption_df["non_smoking"] = df["non_smoking_vehicle"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["non_smoking"] = df["non_smoking_vehicle"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["non_smoking"] = df["non_smoking_vehicle"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

emission_label_df["non_smoking"] = df["non_smoking_vehicle"].str.extract("(\d+) \(\w+", expand=False)

## last service date

In [340]:
df["last_service_date"].value_counts()

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n06/2019\n, \nEuro 6\n]                 13
                                          ..
[\n01/2017\n, \n95 g CO2/km (comb)\n]      1
[\n06/2019\n, \n87 g CO2/km (comb)\n]      1
[\n10/2018\n, \n100 g CO2/km (comb)\n]     1
[\n02/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2019\n, \n120 g CO2/km (comb)\n]     1
Name: last_service_date, Length: 266, dtype: int64

In [341]:
df["last_service_date"] = df["last_service_date"].astype(str)

In [342]:
(df["last_service_date"].str.count("(\d+/\d+)").value_counts(dropna=False), # 566 data
df["last_service_date"].str.count("CO2").value_counts(dropna=False), # 266 data / co2_emission
df["last_service_date"].str.count("Euro").value_counts(dropna=False)) # 202 data /emission_class

(0    15353
 1      566
 Name: last_service_date, dtype: int64,
 0    15653
 1      266
 Name: last_service_date, dtype: int64,
 0    15717
 1      202
 Name: last_service_date, dtype: int64)

In [343]:
(df["last_service_date"].str.count("comb").value_counts(dropna=False), # 2 data / comb_consumption
df["last_service_date"].str.count("city").value_counts(dropna=False), # 2 data / city_consumption
df["last_service_date"].str.count("country").value_counts(dropna=False),) # 2 data) / country_consumption

(0    15651
 1      268
 Name: last_service_date, dtype: int64,
 0    15917
 1        2
 Name: last_service_date, dtype: int64,
 0    15917
 1        2
 Name: last_service_date, dtype: int64)

In [344]:
(df["last_service_date"].str.count("(\d+) \(\w+").value_counts(dropna=False), # 9 data / emission_label
df["last_service_date"].str.count("Green").value_counts(dropna=False), # 7 data 
df["last_service_date"].str.count("Blue").value_counts(dropna=False)) # 2 data

(0    15910
 1        9
 Name: last_service_date, dtype: int64,
 0    15912
 1        7
 Name: last_service_date, dtype: int64,
 0    15917
 1        2
 Name: last_service_date, dtype: int64)

In [345]:
df["last_service_date2"] = pd.to_datetime(df["last_service_date"].str.extract("(\d+/\d+)", expand=False))

In [346]:
df["last_service_date2"].value_counts().sample(3)

2018-05-01    21
2019-01-01    51
2018-04-01    16
Name: last_service_date2, dtype: int64

In [347]:
co2_emission_df["last_service"] =  df["last_service_date"].str.extract("(\d+) g", expand=True)  # co2_emission

emission_class_df["last_service"] = df["last_service_date"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True) # emission_class

comb_consumption_df["last_service"] = df["last_service_date"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False) # comb_consumption
city_consumption_df["last_service"] = df["last_service_date"].str.extract("(\d+\.\d+\d+) l/100\D+city",expand=False) # comb_consumption
country_consumption_df["last_service"] = df["last_service_date"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False) # comb_consumption

emission_label_df["last_service"] = df["last_service_date"].str.extract("(\d+) \(\w+", expand=False) # emission_label

## registration

In [348]:
df["registration"].value_counts(dropna=False).head(5)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
Name: registration, dtype: int64

In [349]:
df["registration"] = df.registration.str.replace("-/-","")

In [350]:
df["registration"] = pd.to_datetime(df.registration)

In [351]:
df["registration"].value_counts(dropna=False).head(5)

NaT           1597
2018-03-01     695
2019-02-01     585
2018-05-01     572
2019-03-01     543
Name: registration, dtype: int64

## prev_owner

In [352]:
df["prev_owner"].value_counts(dropna=False)

1 previous owner     8294
None                 6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [353]:
df["prev_owner"].str.replace(" previous owners","").str.replace(" previous owner","")

0           2
1        None
2           1
3           1
4           1
         ...
15914    None
15915       1
15916       1
15917    None
15918       1
Name: prev_owner, Length: 15919, dtype: object

In [354]:
df["prev_owner"] = df["prev_owner"].str.replace(" previous owners","").str.replace(" previous owner","")
df["prev_owner"] = df["prev_owner"].astype(float)
df["prev_owner"].value_counts(dropna=False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

## kw

In [355]:
df.kw.value_counts(dropna=False)

NaN    15919
Name: kw, dtype: int64

In [356]:
df.drop(columns='kw', inplace=True)

## hp

In [357]:
df.hp.value_counts(dropna=False).sort_index()

- kW        88
1 kW        20
100 kW    1308
101 kW      47
103 kW     253
          ...
90 kW        4
92 kW      466
93 kW        3
96 kW       72
98 kW        3
Name: hp, Length: 81, dtype: int64

In [358]:
df["hp"] = df.hp.str.replace(" kW","").str.replace("-", "0").astype(float)

In [359]:
df["hp"]  = df["hp"].replace(0, np.nan)
df["hp"].value_counts(dropna=False).sort_index()

1.0      20
4.0       1
9.0       1
40.0      2
44.0      1
         ..
228.0     2
239.0     1
270.0     2
294.0    18
NaN      88
Name: hp, Length: 81, dtype: int64

## type

In [360]:
df["type"].value_counts(dropna=False)

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 170, dtype: int64

In [361]:
df["type"] = df["type"].astype(str)

In [362]:
df["type2"] = df["type"].str.extract("(Used|New|Pre-registered|Employee's car|Demonstration)", expand=False)
df["type2"].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type2, dtype: int64

In [363]:
df["type"][df["type"].str.count("Gasoline") == True].index == df["fuel"][df["fuel"].astype(str).str.count("Gasoline") == True].index

array([ True,  True,  True, ...,  True,  True,  True])

## fuel

In [364]:
df["fuel"].value_counts(dropna=False)

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: fuel, Length: 77, dtype: int64

In [365]:
df["fuel2"] = df["fuel"].str[1].str.split("/").str[0].str.strip()
df["fuel2"].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: fuel2, dtype: int64

## null

In [366]:
df["null"].value_counts()

[]    15919
Name: null, dtype: int64

In [367]:
del df["null"]

## make

In [368]:
df["make"].value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

In [369]:
df["make"] = df.make.str.strip("\n")

## model

In [370]:
df["model"].value_counts(dropna=False)

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [371]:
df["model"] = df.model.str[1]
df["model"].value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

## offer_number, first_registration, body_color, body_color_original

In [372]:
# df["offer_number"].value_counts(dropna=False)
del df["offer_number"]

In [373]:
df["first_registration"].value_counts(dropna=False)

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: first_registration, dtype: int64

In [374]:
df["first_registration"] = df.first_registration.str[1].astype("datetime64")
df["first_registration"].value_counts(dropna=False)

2018-01-01    4522
2016-01-01    3674
2017-01-01    3273
2019-01-01    2853
NaT           1597
Name: first_registration, dtype: int64

In [375]:
df["body_color"].value_counts(dropna=False)

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [376]:
df["body_color"] = df.body_color.str[1]

In [377]:
df["body_color_original"].value_counts(dropna=False)

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: body_color_original, Length: 1928, dtype: int64

In [378]:
df["body_color_original"] = df.body_color_original.str[0].str.strip("\n").str.lower()  
df["body_color_original"].value_counts(dropna=False)
#ihtiyaca göre temizlik arttırılabilir

NaN                               3759
onyx schwarz                       467
bianco                             291
brillantschwarz                    288
quarz grau                         279
                                  ...
utopiablau metallic/florettsil       1
graphitgrau metallik                 1
karbon-,j:graph (schwarz)            1
mint grün                            1
perlmutt-weiß metallic (weiß)        1
Name: body_color_original, Length: 1453, dtype: int64

In [379]:
df["paint_type"].value_counts(dropna=False)

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [380]:
df["paint_type"]= df.paint_type.str[0].str.strip("\n")

In [381]:
df["paint_type"].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

## upholstery

In [382]:
df["upholstery"].value_counts(dropna=False)

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [383]:
df["upholstery"] = [i[0] if type(i) == list else i for i in df.upholstery]
# -----------------------------------------------------
df["upholstery"] = df.upholstery.str.strip("\n").str.split(", ")
# -----------------------------------------------------
upholstery_type = list(df.upholstery.apply(lambda x : x[0] if type(x) == list and len(x) == 2 else None).value_counts().index)
upholstery_type
# ------------------------------------------------------
df["upholstery_type"] = df.upholstery.apply(lambda x : x[0] if type(x) == list and x[0] in upholstery_type else np.nan)
# --------------------------------------------------------
upholstery_colors = list(df.upholstery.apply(lambda x : x[1] if type(x) == list and len(x) == 2 else None).value_counts().index)
upholstery_colors
# ----------------------------------------------------------
df["upholstery_colors"] = df.upholstery.apply(lambda x : x[1] if type(x) == list and len(x) == 2 else x[0] if type(x) == list and x[0] in upholstery_colors else np.nan)

In [384]:
df["upholstery_colors"].value_counts(), df["upholstery_type"].value_counts()

(Black     8201
 Grey      1376
 Other     1016
 Brown      207
 Beige       54
 Blue        16
 White       13
 Red          9
 Yellow       4
 Orange       1
 Name: upholstery_colors, dtype: int64,
 Cloth           8423
 Part leather    1499
 Full leather    1009
 Other            368
 Velour            60
 alcantara         57
 Name: upholstery_type, dtype: int64)

## body, nr_of_doors, nr_of_seats, model_code, gearing_type

In [385]:
df["body"] =df.body.str[1]
df["nr_of_doors"] = df.nr_of_doors.str[0].str.strip("\n")
df["nr_of_seats"] = df.nr_of_seats.str[0].str.strip("\n")
df["model_code"] = df.model_code.str[0].str.strip().str.split("/").str[0]
df["gearing_type"] = df.gearing_type.str[1]

## displacement, cylinders, weight, drive_chain, other_fuel_types

In [386]:
df["displacement"] = df.displacement.str[0].str.strip().str.split().str[0].str.replace(",","").astype("float")
df["cylinders"] = df.cylinders.str[0].str.strip("\n")
df["weight"] = df.weight.str[0].str.strip().str.split(" ").str[0].str.replace(",","").astype("float")
df["drive_chain"] = df.drive_chain.str[0].str.strip("\n")
del df["other_fuel_types"]

## gears

In [387]:
df.gears.value_counts(dropna=False)

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [388]:
df['gears'] = df['gears'].explode()

In [389]:
df["gears"] = df["gears"].str.strip("\n")

In [390]:
df.gears.value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

## country_version

In [391]:
df.country_version.value_counts(dropna=False)

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [392]:
df['country_version'] = df['country_version'].explode()

In [393]:
df['country_version'] = df['country_version'].str.strip("\n")

In [394]:
df['country_version'] = df['country_version'].fillna(value="Unknown")

electricity_consumption

In [395]:
df.electricity_consumption.value_counts(dropna=False)
## elektrikli araçlar için kontrol edilecek. Bir fonksiyonu yoksa silinecek.

NaN                          15782
[\n0 kWh/100 km (comb)\n]      137
Name: electricity_consumption, dtype: int64

## availability

In [396]:
df["availability"].value_counts(dropna=False)

NaN                              15284
\nin 90 days from ordering\n       196
\nin 120 days from ordering\n      182
\nin 1 day from ordering\n          51
\nin 5 days from ordering\n         35
\nin 3 days from ordering\n         35
\nin 180 days from ordering\n       24
\nin 14 days from ordering\n        24
\nin 7 days from ordering\n         20
\nin 150 days from ordering\n       18
\nin 2 days from ordering\n         16
\nin 60 days from ordering\n        13
\nin 42 days from ordering\n        10
\nin 21 days from ordering\n         8
\nin 4 days from ordering\n          2
\nin 6 days from ordering\n          1
Name: availability, dtype: int64

In [397]:
df["availability"] = df["availability"].astype(str)
df["availability"] = df.availability.str.extract('(\d+)', expand=False)

In [398]:
df["availability"].value_counts(dropna=False)

NaN    15284
90       196
120      182
1         51
5         35
3         35
180       24
14        24
7         20
150       18
2         16
60        13
42        10
21         8
4          2
6          1
Name: availability, dtype: int64

## last_timing_belt_service_date

In [399]:
df["last_timing_belt_service_date"].value_counts(dropna=False)

NaN                          15903
[\n04/2016\n]                    2
[\n12/1900\n]                    1
[\n07/2018\n]                    1
[\n01/1900\n]                    1
[\n05/2019\n]                    1
[\n09/2018\n]                    1
[\n05/2018\n, \nEuro 6\n]        1
[\n06/2017\n]                    1
[\n01/2019\n]                    1
[\n02/2019\n]                    1
[\n02/2018\n]                    1
[\n06/2019\n]                    1
[\n01/2018\n]                    1
[\n04/2019\n]                    1
[\n01/1970\n]                    1
Name: last_timing_belt_service_date, dtype: int64

In [400]:
del df["last_timing_belt_service_date"]

## available_from

In [401]:
df.available_from.value_counts(dropna=False).head(5)

NaN             15647
\n31/08/19\n       98
\n30/07/19\n       25
\n15/08/19\n       24
\n16/09/19\n       14
Name: available_from, dtype: int64

In [402]:
df["available_from"] = df["available_from"].astype(str)

In [403]:
df["available_from"] = df["available_from"].str.extract("(\d+\/\d+\/\d+)", expand=False).astype("datetime64")

In [404]:
df.head(5).T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,56013,80000,83450,73000,16200
registration,2016-01-01 00:00:00,2017-03-01 00:00:00,2016-02-01 00:00:00,2016-08-01 00:00:00,2016-05-01 00:00:00
prev_owner,2.0,NaN,1.0,1.0,1.0
hp,66.0,141.0,85.0,66.0,66.0
type,"['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Gasoline']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']"
previous_owners,\n2\n,nan,\n1\n,\n1\n,\n1\n
next_inspection,"['\n06/2021\n', '\n99 g CO2/km (comb)\n']",nan,nan,nan,nan
inspection_new,"['\nYes\n', '\nEuro 6\n']",nan,nan,nan,"['\nYes\n', '\n109 g CO2/km (comb)\n']"
warranty,"['\n', '\n', '\n4 (Green)\n']",nan,"['\n', '\n', '\n99 g CO2/km (comb)\n']",nan,"['\n', '\n', '\nEuro 6\n']"
full_service,"['\n', '\n']",nan,nan,"['\n', '\n', '\n99 g CO2/km (comb)\n']","['\n', '\n', '\n4 (Green)\n']"
non_smoking_vehicle,"['\n', '\n']",nan,nan,"['\n', '\n', '\nEuro 6\n']","['\n', '\n']"
make,Audi,Audi,Audi,Audi,Audi
model,A1,A1,A1,A1,A1
first_registration,2016-01-01 00:00:00,2017-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
body_color_original,mythosschwarz,NaN,mythosschwarz metallic,NaN,mythosschwarz metallic
upholstery,"[Cloth, Black]","[Cloth, Grey]","[Cloth, Black]",NaN,"[Cloth, Black]"
body,Sedans,Sedans,Sedans,Sedans,Sedans
nr_of_doors,5,3,4,3,5
nr_of_seats,5,4,4,4,5
model_code,0588,0588,NaN,NaN,0588
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
displacement,1422.0,1798.0,1598.0,1422.0,1422.0
cylinders,3,4,NaN,3,3
weight,1220.0,1255.0,NaN,1195.0,NaN
drive_chain,front,front,front,NaN,front
fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
consumption,"[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...","[['5.6 l/100 km (comb)'], ['7.1 l/100 km (city...","[['3.8 l/100 km (comb)'], ['4.4 l/100 km (city...","[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...","[['4.1 l/100 km (comb)'], ['4.6 l/100 km (city..."
co2_emission,['\n99 g CO2/km (comb)\n'],['\n129 g CO2/km (comb)\n'],['\n99 g CO2/km (comb)\n'],['\n99 g CO2/km (comb)\n'],['\n109 g CO2/km (comb)\n']
emission_class,['\nEuro 6\n'],['\nEuro 6\n'],['\nEuro 6\n'],['\nEuro 6\n'],['\nEuro 6\n']
comfort_convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
entertainment_media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
safety_security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
emission_label,nan,['\n4 (Green)\n'],['\n4 (Green)\n'],nan,nan
gears,NaN,7,NaN,6,NaN
country_version,Unknown,Unknown,Unknown,Unknown,Germany
electricity_consumption,NaN,NaN,NaN,NaN,NaN
last_service_date,nan,nan,nan,nan,nan
availability,NaN,NaN,NaN,NaN,NaN
available_from,NaT,NaT,NaT,NaT,NaT
make1,Audi,Audi,Audi,Audi,Audi
model1,A1,A1,A1,A1,A1
previous_owners2,2,NaN,1,1,1
warranty2,NaN,NaN,NaN,NaN,NaN
last_service_date2,NaT,NaT,NaT,NaT,NaT
type2,Used,Used,Used,Used,Used
fuel2,Diesel (Particulate Filter),Gasoline,Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter)
upholstery_type,Cloth,Cloth,Cloth,NaN,Cloth
upholstery_colors,Black,Grey,Black,NaN,Black

In [405]:
comb_consumption_df

,0,1,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking,last_service
0,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15914,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,7.4,NaN,7.4,7.4,NaN,NaN,NaN,NaN,NaN
15916,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [406]:
comb_consumption_df.columns

Index([                0,                 1, 'previous_owners',
       'next_inspection',  'inspection_new',        'warranty',
          'full_service',     'non_smoking',    'last_service'],
      dtype='object')

In [407]:
df["comb_consumption"] = (comb_consumption_df[0].fillna(comb_consumption_df[1])
.fillna(comb_consumption_df["previous_owners"])
.fillna(comb_consumption_df["next_inspection"])
.fillna(comb_consumption_df["inspection_new"])
.fillna(comb_consumption_df["warranty"])
.fillna(comb_consumption_df["full_service"])
.fillna(comb_consumption_df["non_smoking"])
.fillna(comb_consumption_df["last_service"])
)

In [408]:
df["comb_consumption"].value_counts(dropna=False)

NaN    2033
5.4     770
3.9     733
4       713
5.1     657
       ...
33        1
50        1
1         1
46        1
11        1
Name: comb_consumption, Length: 73, dtype: int64

In [409]:
city_consumption_df.columns

Index([                0,                 1, 'previous_owners',
       'next_inspection',  'inspection_new',        'warranty',
          'full_service',     'non_smoking',    'last_service'],
      dtype='object')

In [410]:
df["city_consumption"] = (city_consumption_df[0].fillna(city_consumption_df[1])
.fillna(city_consumption_df["previous_owners"])
.fillna(city_consumption_df["next_inspection"])
.fillna(city_consumption_df["inspection_new"])
.fillna(city_consumption_df["warranty"])
.fillna(city_consumption_df["full_service"])
.fillna(city_consumption_df["non_smoking"])
.fillna(city_consumption_df["last_service"])
)
df["city_consumption"].value_counts(dropna=False)

NaN     2436
5        669
5.8      633
4.5      580
4.3      533
        ...
9          1
10.5       1
16.1       1
10.4       1
9.7        1
Name: city_consumption, Length: 87, dtype: int64

In [411]:
country_consumption_df.columns

Index([                0,                 1, 'previous_owners',
       'next_inspection',  'inspection_new',        'warranty',
          'full_service',     'non_smoking',    'last_service'],
      dtype='object')

In [412]:
df["country_consumption"] = (country_consumption_df[0].fillna(country_consumption_df[1])
.fillna(country_consumption_df["previous_owners"])
.fillna(country_consumption_df["next_inspection"])
.fillna(country_consumption_df["inspection_new"])
.fillna(country_consumption_df["warranty"])
.fillna(country_consumption_df["full_service"])
.fillna(country_consumption_df["non_smoking"])
.fillna(country_consumption_df["last_service"])
)
df["country_consumption"].value_counts(dropna=False).sample(5)

6.6      19
4.1     592
4.2    1178
7.3       4
5.9       2
Name: country_consumption, dtype: int64

In [413]:
co2_emission_df.columns

Index([                0, 'previous_owners', 'next_inspection',
        'inspection_new',        'warranty',    'full_service',
           'non_smoking',    'last_service'],
      dtype='object')

In [414]:
df["co2_emission"] = (co2_emission_df[0]
.fillna(co2_emission_df["previous_owners"])
.fillna(co2_emission_df["next_inspection"])
.fillna(co2_emission_df["inspection_new"])
.fillna(co2_emission_df["warranty"])
.fillna(co2_emission_df["full_service"])
.fillna(co2_emission_df["non_smoking"])
.fillna(co2_emission_df["last_service"])
)
df["co2_emission"].value_counts(dropna=False)

NaN     2435
120      740
99       545
97       537
104      501
        ...
14         1
1060       1
51         1
165        1
193        1
Name: co2_emission, Length: 123, dtype: int64

In [415]:
emission_class_df.columns

Index([                0, 'next_inspection',  'inspection_new',
              'warranty',    'full_service',     'non_smoking',
          'last_service'],
      dtype='object')

In [416]:
df["emission_class"] = (emission_class_df[0]
.fillna(emission_class_df["next_inspection"])
.fillna(emission_class_df["inspection_new"])
.fillna(emission_class_df["warranty"])
.fillna(emission_class_df["full_service"])
.fillna(emission_class_df["non_smoking"])
.fillna(emission_class_df["last_service"])
)
df["emission_class"].value_counts(dropna=False)

Euro 6          10618
NaN              2925
Euro 6d-TEMP     2050
Euro 6c           135
Euro 5             78
Euro 6d            73
Euro 4             40
Name: emission_class, dtype: int64

In [417]:
emission_label_df.columns

Index([0, 'next_inspection', 'warranty', 'full_service', 'non_smoking',
       'last_service'],
      dtype='object')

In [418]:
df["emission_label"] = (emission_label_df[0]
.fillna(emission_label_df["next_inspection"])
.fillna(emission_label_df["warranty"])
.fillna(emission_label_df["full_service"])
.fillna(emission_label_df["non_smoking"])
.fillna(emission_label_df["last_service"])
)
df["emission_label"].value_counts(dropna=False)

NaN    7975
4      7463
1       435
5        43
3         2
2         1
Name: emission_label, dtype: int64

In [419]:
inspection_df

      next_inspection inspection_new
0          2021-06-01            Yes
1                 NaT            NaN
2                 NaT            NaN
3                 NaT            NaN
4                 NaT            Yes
...               ...            ...
15914             NaT            NaN
15915      2022-01-01            NaN
15916             NaT            Yes
15917             NaT            NaN
15918             NaT            Yes

[15919 rows x 2 columns]

In [420]:
del df["next_inspection"], 
del df["inspection_new"]

In [421]:
df = pd.concat([df, inspection_df], axis=1)

In [422]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15909,15910,15911,15912,15913,15914,15915,15916,15917,15918
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-sp...,...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/renault-es...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,...,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace
body_type,Sedans,Sedans,Sedans,Sedans,Sedans,Sedans,Station wagon,Compact,Sedans,Sedans,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
price,15770,14500,14640,14500,16790,15090,16422,14480,16700,17990,...,39990,39980,39980,39950,39950,39950,39885,39875,39700,40999
vat,VAT deductible,Price negotiable,VAT deductible,None,None,None,VAT deductible,VAT deductible,None,None,...,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible
km,56013,80000,83450,73000,16200,63668,62111,14986,57000,16103,...,3500,8500,100,0,1000,0,9900,15,10,0
registration,2016-01-01 00:00:00,2017-03-01 00:00:00,2016-02-01 00:00:00,2016-08-01 00:00:00,2016-05-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-02-01 00:00:00,2016-02-01 00:00:00,2017-06-01 00:00:00,...,2019-05-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,NaT,2019-04-01 00:00:00,NaT,2019-01-01 00:00:00,2019-03-01 00:00:00,2019-06-01 00:00:00,2019-01-01 00:00:00
prev_owner,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0
hp,66.0,141.0,85.0,66.0,66.0,85.0,85.0,66.0,85.0,70.0,...,147.0,165.0,118.0,147.0,165.0,147.0,165.0,146.0,147.0,165.0
type,"['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Gasoline']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Gasoline']",...,"['', 'Demonstration', '', 'Diesel (Particulate...","['', 'Demonstration', '', 'Regular/Benzine E10...","['', 'Pre-registered', '', 'Diesel (Particulat...","['', 'New', '', 'Diesel (Particulate Filter)']","['', 'Demonstration', '', 'Super 95']","['', 'New', '', 'Diesel (Particulate Filter)']","['', 'Used', '', 'Super 95 / Super Plus 98 (Pa...","['', 'Pre-registered', '', 'Diesel']","['', 'Pre-registered', '', 'Diesel']","['', 'Demonstration', '', 'Super 95']"
previous_owners,\n2\n,nan,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,\n1\n,nan,...,nan,\n1\n,\n1\n,nan,nan,nan,"['\n1\n', '\n', '7.4 l/100 km (comb)', '\n', '...","['\n1\n', '\n139 g CO2/km (comb)\n']",nan,\n1\n
warranty,"['\n', '\n', '\n4 (Green)\n']",nan,"['\n', '\n', '\n99 g CO2/km (comb)\n']",nan,"['\n', '\n', '\nEuro 6\n']",nan,nan,"['\n', '\n', '\nEuro 6\n']","['\n12 months\n', '\nEuro 6\n']",\n3 months\n,...,\n48 months\n,nan,nan,\n24 months\n,nan,\n24 months\n,"['\n', '\n', '\nEuro 6\n']","['\n', '\n', '\n4 (Green)\n']",\n,nan
full_service,"['\n', '\n']",nan,nan,"['\n', '\n', '\n99 g CO2/km (comb)\n']","['\n', '\n', '\n4 (Green)\n']","['\n', '\n', '\n92 g CO2/km (comb)\n']","['\n', '\n', '\nEuro 6\n']","['\n', '\n', '\n4 (Green)\n']",nan,nan,...,nan,"['\n', '\n', '\n153 g CO2/km (comb)\n']",nan,nan,nan,nan,nan,"['\n', '\n']",nan,nan
non_smoking_vehicle,"['\n', '\n']",nan,nan,"['\n', '\n', '\nEuro 6\n']","['\n', '\n']","['\n', '\n', '\nEuro 6\n']","['\n', '\n', '\n4 (Green)\n']",nan,nan,nan,...,nan,"['\n', '\n', '\nEuro 6\n']","['\n', '\n', '\n123 g CO2/km (comb)\n']",nan,nan,nan,"['\n', '\n', '\n4 (Green)\n']","['\n', '\n']",nan,nan
make,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,...,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault
model,A1,A1,A1,A1,A1,A1,A1,A1,A1,A1,...,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace
first_registration,2016-01-01 00:00:00,2017-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,...,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,NaT,2019-01-01 00:00:00,NaT,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00
body_color,Black,Red,Black,Brown,Black,White,White,Red,Grey,White,...,Black,Blue,White,Black,White,Grey,Grey,White,Grey,Grey
paint_type,Metallic,NaN,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,NaN,...,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,Metallic,NaN,NaN,Metallic
body_color_original,mythosschwarz,NaN,mythosschwarz metallic,NaN,mythosschwarz metallic,NaN,gletscherweiss,misanorot perleffekt,grigio,blanc,...,black-pearl,kosmos-blau,perlmutt-weiß metallic (weiß),nero,perlmutt-weiss,grigio scuro,stahl-grau metallic,arktis-weiß,grigio,titanium-grau metallic
upholstery,"[Cloth, Black]","[Cloth, Grey]","[Cloth, Black]",NaN,"[Cloth, Black]","[Part leather, Black]","[Part leather, Black]","[Cloth, Black]","[Cloth, Grey]",NaN,...,NaN,"[Full leather, Other]","[Full leather, Grey]",NaN,"[Full leather, Brown]",NaN,[Cloth],"[Full leather, Black]",[Part leather],"[Full leather, Brown]"
body,Sedans,Sedans,Sedans,Sedans,Sedans,Sedans,Station wagon,Compact,Sedans,Sedans,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
nr_of_doors,5,3,4,3,5,4,4,5,5,5,...,5,5,5,5,5,5,5,5,5,5
nr_of_seats,5,4,4,4,5,5,5,5,4,4,...,5,5,7,5,7,5,5,7,7,5
model_code,0588,0588,NaN,NaN,0588,NaN,NaN,0588,NaN,NaN,...,NaN,3333,3333,NaN,NaN,NaN,0000,NaN,NaN,3333
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,...,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic
displacement,1422.0,1798.0,1598.0,1422.0,1422.0,1598.0,1598.0,1422.0,1598.0,999.0,...,1997.0,1798.0,1598.0,1997.0,1798.0,1997.0,1798.0,1997.0,1997.0,1798.0
cylinders,3,4,NaN,3,3,NaN,4,NaN,4,NaN,...,NaN,4,4,4,4,4,4,4,4,4
weight,1220.0,1255.0,NaN,1195.0,NaN,NaN,NaN,NaN,1275.0,NaN,...,1779.0,NaN,1734.0,1758.0,NaN,1758.0,1708.0,NaN,1758.0,1685.0
drive_chain,front,front,front,NaN,front,NaN,front,front,front,NaN,...,NaN,front,NaN,front,front,front,front,front,front,4WD
fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]",...,"[\n, Diesel (Particulate Filter), \n]","[\n, Regular/Benzine E10 91, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, Diesel, \n]","[\n, Diesel, \n]","[\n, Super 95, \n]"
consumption,"[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...","[['5.6 l/100 km (comb)'], ['7.1 l/100 km (city...","[['3.8 l/100 km (comb)'], ['4.4 l/100 km (city...","[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...","[['4.1 l/100 km (comb)'], ['4.6 l/100 km (city...","[['3.5 l/100 km (comb)'], ['4.3 l/100 km (city...","[['3.7 l/100 km (comb)'], ['4.3 l/100 km (city...","[['3.7 l/100 km (comb)'], ['4.2 l/100 km (city...","[['3.7 l/100 km (comb)'], ['4.3 l/100 km (city...",nan,...,nan,"[['6 l/100 km (comb)'], ['8 l/100 km (city)'],...","[['4.7 l/100 km (comb)'], ['5.1 l/100 km (city...","[['5.3 l/100 km (comb)'], ['6.2 l/100 km (city...","[['6.8 l/100 km (comb)'], ['8.7 l/100 km (city...","[['5.3 l/100 km (comb)'], ['6.2 l/100 km (city...","['\n', '7.4 l/100 km (comb)', '\n', '9.2 l/100...","[['5.3 l/100 km (comb)'], ['6.2 l/100 km (city...","[['5.3 l/100 km (comb)'], ['6.2 l/100 km (city...","[['6.8 l/100 km (comb)'], ['8.7 l/100 km (city..."
co2_emission,99,129,99,99,109,92,98,97,97,NaN,...,NaN,153,123,139,153,139,168,139,139,153
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6,NaN,...,NaN,Euro 6,Euro 6,NaN,Euro 6,NaN,Euro 6,Euro 6d-TEMP,Euro 6,Euro 6
comfort_convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Electrical side mi...","[Air conditioning, Power windows]",NaN,...,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Automatic climate control, ..."
entertainment_media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, CD player, Hands-free equipment, O...","[CD player, MP3, Radio]",[Radio],NaN,...,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Digital radio, Hands-free equipmen...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Digital radio, Radio, USB]",[USB]
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension...","[Alloy wheels, Sport package, Sport seats, Spo...","[Alloy wheels, Sport package, Sport seats, Spo...",[Alloy wheels],[Alloy wheels],NaN,...,"[Alloy wheels, Touch screen]",[Alloy wheels],"[Alloy wheels, Touch screen, Voice Control]","[Alloy wheels, Touch screen]","[Alloy wheels, Catalytic Converter, Sport susp...","[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen, Voice Control]",[Alloy wheels],"[Alloy wheels, Touch screen]","[Alloy wheels, Touch screen]"
safety_security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Driver-side airbag, E...",NaN,...,"[ABS, Blind spot monitor, Central door lock, D...","[ABS, Adaptive headlights, Central door lock, ...","[ABS, Adaptive Cruise Control, Central door lo...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Central door lock, Central door lock wit...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Adaptive Cruise Control, Blind spot moni...","[ABS, Blind spot monitor, Driver-side airbag, ...","[ABS, Blind spot monitor, Daytime running ligh..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",[\nSichern Sie sich diesen Audi A1 1.6 TDI Spo...,"[\nREDUZIERT !!!, MwSt. ausweisbar, Nettopreis...","[\n, Ausstattungspakete:, Ausstattungspaket: ...",[\nAuto in ottime condizioni. Unico proprietar...,"[\nClim automatique,Ecran multifonction couleu...",...,"[\nHallo!, Das Beratungsteam der Fa. Sonnleitn...","[\n, Warum ist dieses Auto das Richtige für mi...","[\n, Komfort:, , abgedunkelte Scheiben im Fon...",[\nVettura visionabile nella sede in Via Roma ...,"[\nFahrzeug-Nr.: NW9766., Ausstattungslinie/ -...",[\nVettura visionabile nella sede in Via Roma ...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","[\n, Getriebe:, Automatik, Technik:, Bordcom...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...","[\n, Sicherheit Airbags:, , Seitenairbag, , ..."
emission_label,4,4,4,NaN,4,4,4,4,NaN,NaN,...,NaN,4,4,NaN,4,NaN,4,4,NaN,4
gears,NaN,7,NaN,6,NaN,NaN,NaN,7,7,7,...,7,7,NaN,6,NaN,6,7,6,6,NaN
country_version,Unknown,Unknown,Unknown,Unknown,Germany,Germany,Germany,Unknown,Unknown,Unknown,...,Austria,Unknown,Germany,Unknown,Unknown,Unknown,Germany,Austria,Unknown,Germany
electricity_consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_service_date,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
availability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,120,NaN,NaN
available_from,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
make1,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,Audi,...,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault,Renault
model1,A1,A1,A1,A1,A1,A1,A1,A1,A1,A1,...,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace,Espace
previous_owners2,2,NaN,1,1,1,1,1,1,1,NaN,...,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1
warranty2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,3,...,48,NaN,NaN,24,NaN,24,NaN,NaN,NaN,NaN
last_service_date2,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
type2,Used,Used,Used,Used,Used,Used,Used,Used,Used,Used,...,Demonstration,Demonstration,Pre-registered,New,Demonstration,New,Used,Pre-registered,Pre-registered,Demonstration
fuel2,Diesel (Particulate Filter),Gasoline,Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter),Diesel (Particulate Filter),Gasoline,...,Diesel (Particulate Filter),Regular,Diesel (Particulate Filter),Diesel (Particulate Filter),Super 95,Diesel (Particulate Filter),Super 95,Diesel,Diesel,Super 95
upholstery_type,Cloth,Cloth,Cloth,NaN,Cloth,Part leather,Part leather,Cloth,Cloth,NaN,...,NaN,Full leather,Full leather,NaN,Full leather,NaN,Cloth,Full leather,Part leather,Full leather
upholstery_colors,Black,Grey,Black,NaN,Black,Black,Black,Black,Grey,NaN,...,NaN,Other,Grey,NaN,Brown,NaN,NaN,Black,NaN,Brown
comb_consumption,3.8,5.6,3.8,3.8,4.1,3.5,3.7,3.7,3.7,NaN,...,NaN,6,4.7,5.3,6.8,5.3,7.4,5.3,5.3,6.8
city_consumption,4.3,7.1,4.4,4.3,4.6,4.3,4.3,4.2,4.3,NaN,...,NaN,8,5.1,6.2,8.7,6.2,9.2,6.2,6.2,8.7
country_consumption,3.5,4.7,3.4,3.5,3.8,3.1,3.4,3.4,3.4,NaN,...,NaN,5,4.4,4.7,5.7,4.7,6.3,4.7,4.7,5.7
next_inspection,2021-06-01 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2020-02-01 00:00:00,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,2022-01-01 00:00:00,NaT,NaT,NaT
inspection_new,Yes,NaN,NaN,NaN,Yes,NaN,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,Yes

In [423]:
df.to_csv("before_deleting_autoscout.csv", index=False)

In [424]:
del df["url"]

In [425]:
(df.make == df.make1).sum(), (df.model1 == df.model1).sum()

(15919, 15919)

In [426]:
df.drop(["make","make1","model","model1"], axis = 1, inplace = True)

In [427]:
df.drop(["model_code"], axis = 1, inplace = True)

In [428]:
df.previous_owners2.value_counts(dropna=False), df.prev_owner.value_counts(dropna=False)

(1      8101
 NaN    6870
 2       766
 0       163
 3        17
 4         2
 Name: previous_owners2, dtype: int64,
 1.0    8294
 NaN    6828
 2.0     778
 3.0      17
 4.0       2
 Name: prev_owner, dtype: int64)

In [429]:
df.previous_owners2.astype(float).fillna(df.prev_owner).value_counts(dropna=False)

1.0    8294
NaN    6665
2.0     778
0.0     163
3.0      17
4.0       2
Name: previous_owners2, dtype: int64

In [430]:
df["previous_owners"] = df.previous_owners2.astype(float).fillna(df.prev_owner)

In [431]:
df.drop(["previous_owners2","prev_owner"], axis = 1, inplace = True)

In [433]:
df.drop(["full_service","non_smoking_vehicle", "upholstery"], axis = 1, inplace = True)

In [434]:
df["type"] = df["type2"]
del df["type2"]

In [435]:
df["warranty"] = df["warranty2"]
df["fuel"] = df["fuel2"]

In [436]:
df.drop(["warranty2","fuel2", "consumption"], axis = 1, inplace = True)

In [437]:
df["fuel"].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: fuel, dtype: int64

In [438]:
benzine = ["Super 95", "Gasoline", "Regular", "Super 95 (Particulate Filter)", "Gasoline (Particulate Filter)",
 "Super Plus 98", "Super E10 95 (Particulate Filter", "Super Plus E10 98", "" ]
lpg = ["CNG", "LPG", "Liquid petroleum gas (LPG)", "CNG (Particulate Filter)", "Domestic gas H", "Biogas"]
diesel = ["Diesel (Particulate Filter)", "Diesel", "Others (Particulate Filter)"]
other = ["Electric", "Others"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    elif x in diesel:
        return "Diesel"
    else:
        return "Other"    
df["fuel"] = df["fuel"].apply(fueltype)

In [440]:
df.head().T

,0,1,2,3,4
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,56013,80000,83450,73000,16200
registration,2016-01-01 00:00:00,2017-03-01 00:00:00,2016-02-01 00:00:00,2016-08-01 00:00:00,2016-05-01 00:00:00
hp,66.0,141.0,85.0,66.0,66.0
type,Used,Used,Used,Used,Used
previous_owners,2.0,NaN,1.0,1.0,1.0
warranty,NaN,NaN,NaN,NaN,NaN
first_registration,2016-01-01 00:00:00,2017-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
body_color_original,mythosschwarz,NaN,mythosschwarz metallic,NaN,mythosschwarz metallic
body,Sedans,Sedans,Sedans,Sedans,Sedans
nr_of_doors,5,3,4,3,5
nr_of_seats,5,4,4,4,5
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
displacement,1422.0,1798.0,1598.0,1422.0,1422.0
cylinders,3,4,NaN,3,3
weight,1220.0,1255.0,NaN,1195.0,NaN
drive_chain,front,front,front,NaN,front
fuel,Diesel,Benzine,Diesel,Diesel,Diesel
co2_emission,99,129,99,99,109
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort_convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
entertainment_media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
safety_security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
emission_label,4,4,4,NaN,4
gears,NaN,7,NaN,6,NaN
country_version,Unknown,Unknown,Unknown,Unknown,Germany
electricity_consumption,NaN,NaN,NaN,NaN,NaN
last_service_date,nan,nan,nan,nan,nan
availability,NaN,NaN,NaN,NaN,NaN
available_from,NaT,NaT,NaT,NaT,NaT
last_service_date2,NaT,NaT,NaT,NaT,NaT
upholstery_type,Cloth,Cloth,Cloth,NaN,Cloth
upholstery_colors,Black,Grey,Black,NaN,Black
comb_consumption,3.8,5.6,3.8,3.8,4.1
city_consumption,4.3,7.1,4.4,4.3,4.6
country_consumption,3.5,4.7,3.4,3.5,3.8
next_inspection,2021-06-01 00:00:00,NaT,NaT,NaT,NaT
inspection_new,Yes,NaN,NaN,NaN,Yes

In [441]:
df.to_csv("autoscout_part1.csv", index=False)