In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import re

In [2]:
df0 = pd.read_json('scout_car.zip',compression='zip', lines=True)

In [3]:
df = df0.copy()

In [4]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [6]:
my_list = []

In [7]:
for i in df.columns:
    my_list.append(i.lower().replace('-','_').replace(' ', '_').replace('.', '').replace('&', '').replace('\n', '' ).replace('__', '_'))

In [8]:
print(my_list)

['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kw', 'hp', 'type', 'previous_owners', 'next_inspection', 'inspection_new', 'warranty', 'full_service', 'non_smoking_vehicle', 'null', 'make', 'model', 'offer_number', 'first_registration', 'body_color', 'paint_type', 'body_color_original', 'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code', 'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption', 'co2_emission', 'emission_class', 'comfort_convenience', 'entertainment_media', 'extras', 'safety_security', 'description', 'emission_label', 'gears', 'country_version', 'electricity_consumption', 'last_service_date', 'other_fuel_types', 'availability', 'last_timing_belt_service_date', 'available_from']

In [9]:
df.columns = my_list

In [10]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort_convenience',
       'entertainment_media', 'extras', 'safety_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [11]:
df['make1']= df['make_model'].str.split(' ').str[0]
df['model1']= df['make_model'].str.split(' ').str[1]

In [12]:
df.model1.value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model1, dtype: int64

In [13]:
df.km.value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [14]:
df.km = df.km.str.replace(",","").str.replace(" km", "").str.replace("-", '0')

In [15]:
df.km.replace('0',np.NaN, inplace=True)
df.km = df.km.astype(float)

In [16]:
df.km.value_counts(dropna=False)

10.0       1045
NaN        1043
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6689, dtype: int64

In [17]:
# df = df.to_json(r'scout_car_version_1.json')

In [206]:
df0 = pd.read_json('scout_car_version_1.json')

In [207]:
df = df0.copy()

## co2_emission

In [208]:
df.co2_emission

0         [\n99 g CO2/km (comb)\n]
1        [\n129 g CO2/km (comb)\n]
2         [\n99 g CO2/km (comb)\n]
3         [\n99 g CO2/km (comb)\n]
4        [\n109 g CO2/km (comb)\n]
                   ...
15914    [\n139 g CO2/km (comb)\n]
15915    [\n168 g CO2/km (comb)\n]
15916    [\n139 g CO2/km (comb)\n]
15917    [\n139 g CO2/km (comb)\n]
15918    [\n153 g CO2/km (comb)\n]
Name: co2_emission, Length: 15919, dtype: object

In [209]:
df.co2_emission = df.co2_emission.astype(str)

In [256]:
(df.co2_emission.str.count("CO2").value_counts(dropna=False),
df.co2_emission.str.count("(\d+) g").value_counts(dropna=False),
df.co2_emission.str.count("\d+ g CO2\Skm \(comb\)").value_counts(dropna=False),
df.co2_emission.str.count("\d+,\d").value_counts(dropna=False)
)

(1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 1    13483
 0     2436
 Name: co2_emission, dtype: int64,
 0    15912
 1        7
 Name: co2_emission, dtype: int64)

In [282]:
df["co2_emission"].str.match("\D+\d+,\d+|\d+,\d+").value_counts()

False    15919
Name: co2_emission, dtype: int64

In [279]:
df["co2_emission"][df["co2_emission"].str.match("\D+\d+,\d+|\d+,\d+")]

4089      ['\n1,060 g CO2/km (comb)\n']
5818     ['\n12,087 g CO2/km (comb)\n']
6578     ['\n12,087 g CO2/km (comb)\n']
6579     ['\n12,087 g CO2/km (comb)\n']
8542     ['\n12,324 g CO2/km (comb)\n']
11888    ['\n14,457 g CO2/km (comb)\n']
12343    ['\n13,983 g CO2/km (comb)\n']
Name: co2_emission, dtype: object

In [280]:
df["co2_emission"] = df["co2_emission"].str.replace(",", "")

In [281]:
co2_emission_df =  df["co2_emission"].str.extract("(\d+) g", expand=True)
co2_emission_df.value_counts(dropna=False), co2_emission_df.count()

(NaN    2436
 120     740
 99      545
 97      537
 104     501
        ...
 193       1
 239       1
 253       1
 331       1
 181       1
 Length: 123, dtype: int64,
 0    13483
 dtype: int64)

## emission_class

In [227]:
df["emission_class"].value_counts(dropna=False)

[\nEuro 6\n]          10139
None                   3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [228]:
df["emission_class"] = df["emission_class"].astype(str)

In [325]:
emission_class_df = df["emission_class"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=True)
emission_class_df.value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
dtype: int64

## consumption

In [230]:
df["consumption"].value_counts(dropna=False)

None                                                                                  1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64

In [231]:
df["consumption"] = df["consumption"].astype(str)

In [235]:
(df["consumption"].str.count("comb").value_counts(dropna=False),
df["consumption"].str.count("city").value_counts(dropna=False),
df["consumption"].str.count("country").value_counts(dropna=False),
df["consumption"].str.count("g").value_counts(dropna=False),
df["consumption"].str.count("l/100").value_counts(dropna=False),
df["consumption"].str.count("CO2").value_counts(dropna=False)
)

(1    13886
 0     2033
 Name: consumption, dtype: int64,
 1    13483
 0     2436
 Name: consumption, dtype: int64,
 1    13543
 0     2376
 Name: consumption, dtype: int64,
 0    15888
 3       31
 Name: consumption, dtype: int64,
 0    15919
 Name: consumption, dtype: int64)

In [236]:
df["consumption"][df["consumption"].str.count("kg") > 1].sample(5)

3386    [['3.3 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
3631    [['3.5 kg/100 km (comb)'], ['4.5 kg/100 km (ci...
2779    [['3.4 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
5291    [['5.1 kg/100 km (comb)'], ['5.8 kg/100 km (ci...
3391    [['3.3 kg/100 km (comb)'], ['4.3 kg/100 km (ci...
Name: consumption, dtype: object

In [66]:
# consumption_df = df["consumption"].str.extract("(\d\D\d|\d+)\D+100\D+(\d\D\d|\d+)\D+100\D+(\d\D\d|\d+)").set_axis(
#     ["comb_consump", "city_consump", "country_consump"], axis=1)
# consumption_df

In [13]:
# df = pd.concat([df, consumption_df], axis=1)

In [65]:
# df.iloc[:, -4:]

In [238]:
comb_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+comb|(\d+\.\d+|\d+) kg/100\D+comb",expand=True)
comb_consumption_df.count().value_counts(dropna=False)
# Daha sonra birleştirilmek üzere ayrı bir df oluşturuldu

13855    1
31       1
dtype: int64

In [239]:
city_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+city|(\d+\.\d+|\d+) kg/100\D+city",expand=True)
city_consumption_df.count().value_counts(dropna=False)

13452    1
31       1
dtype: int64

In [240]:
country_consumption_df = df["consumption"].str.extract("(\d+\.\d+|\d+) l/100\D+country|(\d+\.\d+|\d+) kg/100\D+country",expand=True)
country_consumption_df.count().value_counts(dropna=False)

13512    1
31       1
dtype: int64

## previous_owners

In [241]:
df["previous_owners"]

0                                                    \n2\n
1                                                     None
2                                                    \n1\n
3                                                    \n1\n
4                                                    \n1\n
                               ...
15914                                                 None
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916                     [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                 None
15918                                                \n1\n
Name: previous_owners, Length: 15919, dtype: object

In [242]:
df["previous_owners"].value_counts(dropna=False)

\n1\n                                                                                        8101
None                                                                                         6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 103, dtype: int64

In [243]:
df["previous_owners"] = df["previous_owners"].astype(str)

In [244]:
(df["previous_owners"].str.count("comb").value_counts(dropna=False),
df["previous_owners"].str.count("city").value_counts(dropna=False),
df["previous_owners"].str.count("country").value_counts(dropna=False))

(0    15692
 1      227
 Name: previous_owners, dtype: int64,
 0    15864
 1       55
 Name: previous_owners, dtype: int64,
 0    15864
 1       55
 Name: previous_owners, dtype: int64)

In [245]:
df["previous_owners"].str.count("l/100").value_counts(dropna=False)

0    15864
3       55
Name: previous_owners, dtype: int64

In [155]:
(df["previous_owners"].str.count("\d+\\n").value_counts(dropna=False),
df["previous_owners"].str.count("CO2").value_counts(dropna=False),
df["previous_owners"].str.count("Euro").value_counts(dropna=False))

(1    9049
 0    6870
 Name: previous_owners, dtype: int64,
 0    15749
 1      170
 Name: previous_owners, dtype: int64,
 0    15918
 1        1
 Name: previous_owners, dtype: int64)

In [246]:
df["previous_owners2"] = df["previous_owners"].str.extract("\\n(\d+)\\n", expand=False) #"(\d)"
df["previous_owners2"].value_counts(dropna=False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: previous_owners2, dtype: int64

In [247]:
comb_consumption_df["prev_own_comb"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["prev_own_city"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["prev_own_country"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [249]:
co2_emission_df["previous_owners"]=  df["previous_owners"].str.extract("(\d+ g CO2\Skm \(comb\))", expand=False)
co2_emission_df["previous_owners"].count()

170

## next_inspection

In [250]:
df.next_inspection.value_counts(dropna=False)

None                                      12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: next_inspection, Length: 1400, dtype: int64

In [251]:
df["next_inspection"] = df["next_inspection"].astype(str)

In [252]:
(df["next_inspection"].str.count("(\d+/\d+)").value_counts(dropna=False),
df["next_inspection"].str.count("sticker").value_counts(dropna=False), #drop data
df["next_inspection"].str.count("CO2").value_counts(dropna=False), #2309 data
df["next_inspection"].str.count("Euro").value_counts(dropna=False), #73 data
df["next_inspection"].str.count("comb").value_counts(dropna=False), # 239 data
df["next_inspection"].str.count("city").value_counts(dropna=False), # 239 data
df["next_inspection"].str.count("country").value_counts(dropna=False)) # 239 data

(0    12384
 1     3535
 Name: next_inspection, dtype: int64,
 0    15918
 1        1
 Name: next_inspection, dtype: int64,
 0    13610
 1     2309
 Name: next_inspection, dtype: int64,
 0    15846
 1       73
 Name: next_inspection, dtype: int64,
 0    13333
 1     2586
 Name: next_inspection, dtype: int64,
 0    15680
 1      239
 Name: next_inspection, dtype: int64,
 0    15680
 1      239
 Name: next_inspection, dtype: int64)

In [285]:
df["next_inspection"].str.extract("(\d+/\d+)", expand=False).value_counts(dropna=False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
05/2014        1
04/2016        1
01/1955        1
01/2018        1
11/2022        1
Name: next_inspection, Length: 78, dtype: int64

In [286]:
df["next_inspection"].str.extract("(\d+/\d+)", expand=False)

0        06/2021
1            NaN
2            NaN
3            NaN
4            NaN
          ...
15914        NaN
15915    01/2022
15916        NaN
15917        NaN
15918        NaN
Name: next_inspection, Length: 15919, dtype: object

In [293]:
inspection_df = pd.DataFrame()

In [294]:
inspection_df["next_inspection"] = pd.to_datetime(df["next_inspection"].str.extract("(\d+/\d+)", expand=False), errors='coerce')

In [295]:
inspection_df

      next_inspection
0          2021-06-01
1                 NaT
2                 NaT
3                 NaT
4                 NaT
...               ...
15914             NaT
15915      2022-01-01
15916             NaT
15917             NaT
15918             NaT

[15919 rows x 1 columns]

In [298]:
df["next_inspection"].str.count("(\d+,\d+) g").value_counts(dropna=False)

0    15919
Name: next_inspection, dtype: int64

In [302]:
df["next_inspection"].str.extract("(\d+) g", expand=False)

0         99
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    168
15916    NaN
15917    NaN
15918    NaN
Name: next_inspection, Length: 15919, dtype: object

In [303]:
co2_emission_df["next_inspection"] =  df["next_inspection"].str.extract("(\d+) g", expand=False)
co2_emission_df["next_inspection"].count()

2309

In [304]:
comb_consumption_df["next_insp_comb"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["next_insp_city"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["next_insp_country"] = df["previous_owners"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [305]:
comb_consumption_df

         0    1 prev_own_comb next_insp_comb
0      3.8  NaN           NaN            NaN
1      5.6  NaN           NaN            NaN
2      3.8  NaN           NaN            NaN
3      3.8  NaN           NaN            NaN
4      4.1  NaN           NaN            NaN
...    ...  ...           ...            ...
15914  5.3  NaN           NaN            NaN
15915  7.4  NaN           7.4            7.4
15916  5.3  NaN           NaN            NaN
15917  5.3  NaN           NaN            NaN
15918  6.8  NaN           NaN            NaN

[15919 rows x 4 columns]

## inspection_new

In [306]:
df["inspection_new"]

0                     [\nYes\n, \nEuro 6\n]
1                                      None
2                                      None
3                                      None
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                  None
15915                                  None
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                  None
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: inspection_new, Length: 15919, dtype: object

In [308]:
df["inspection_new"] = df["inspection_new"].astype(str)

In [312]:
df["inspection_new"].str.count("(\d+/\d+)").value_counts(dropna=False)

0    15919
Name: inspection_new, dtype: int64

In [319]:
(df["inspection_new"].str.count("Yes").value_counts(dropna=False),#3932 data
df["inspection_new"].str.count("CO2").value_counts(dropna=False), #2211 data
df["inspection_new"].str.count("Euro").value_counts(dropna=False)) #690 data

(0    11987
 1     3932
 Name: inspection_new, dtype: int64,
 0    15918
 1        1
 Name: inspection_new, dtype: int64,
 0    13708
 1     2211
 Name: inspection_new, dtype: int64,
 0    15229
 1      690
 Name: inspection_new, dtype: int64)

In [315]:
(df["inspection_new"].str.count("comb").value_counts(dropna=False), # 331 data
df["inspection_new"].str.count("city").value_counts(dropna=False), # 331 data
df["inspection_new"].str.count("country").value_counts(dropna=False)) # 331 data

(0    13286
 1     2633
 Name: inspection_new, dtype: int64,
 0    15588
 1      331
 Name: inspection_new, dtype: int64,
 0    15588
 1      331
 Name: inspection_new, dtype: int64)

In [320]:
df["inspection_new"].str.extract("(Yes)\W+", expand=False)

0        Yes
1        NaN
2        NaN
3        NaN
4        Yes
        ...
15914    NaN
15915    NaN
15916    Yes
15917    NaN
15918    Yes
Name: inspection_new, Length: 15919, dtype: object

In [321]:
inspection_df["insp_new"] = df["inspection_new"].str.extract("(Yes|No)\W+", expand=False)
inspection_df["insp_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: insp_new, dtype: int64

In [323]:
co2_emission_df["inspection_new"] =  df["inspection_new"].str.extract("(\d+) g", expand=False)
co2_emission_df["inspection_new"].count()

2211

In [326]:
emission_class_df

                  0
0            Euro 6
1            Euro 6
2            Euro 6
3            Euro 6
4            Euro 6
...             ...
15914           NaN
15915           NaN
15916  Euro 6d-TEMP
15917        Euro 6
15918        Euro 6

[15919 rows x 1 columns]

In [327]:
emission_class_df["inspection_new"] = df["inspection_new"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=False)
emission_class_df["inspection_new"].count()

690

In [328]:
comb_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["inspection_new"] = df["inspection_new"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

## emission_label

In [ ]:
df.emission_label.value_counts()

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: emission_label, dtype: int64

In [ ]:
df["emission_label"] = df["emission_label"].astype(str)

In [ ]:
emission_class_df["emission_label"] = df["emission_label"].str.extract("(\d+) \(\w+\)")
emission_class_df["emission_label"].value_counts(dropna=False)

NaN    12355
4       3553
5          8
3          2
2          1
Name: emission_label, dtype: int64

## Warranty

In [331]:
df["warranty"]

0                 [\n, \n, \n4 (Green)\n]
1                                    None
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                    None
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                None
Name: warranty, Length: 15919, dtype: object

In [335]:
df["warranty"] = df["warranty"].astype(str)

In [378]:
(df["warranty"].str.count("(\d+) mon|day|year").value_counts(dropna=False),#4853 data
df["warranty"].str.count("CO2").value_counts(dropna=False), #3074 data
df["warranty"].str.count("Euro").value_counts(dropna=False)) #3002 data

(0    11066
 1     4853
 Name: warranty, dtype: int64,
 0    12845
 1     3074
 Name: warranty, dtype: int64,
 0    12917
 1     3002
 Name: warranty, dtype: int64)

In [376]:
(df["warranty"].str.count("comb").value_counts(dropna=False), # 116 data
df["warranty"].str.count("city").value_counts(dropna=False), # 116 data
df["warranty"].str.count("country").value_counts(dropna=False),) # 116 data)

(0    12715
 1     3204
 Name: warranty, dtype: int64,
 0    15803
 1      116
 Name: warranty, dtype: int64,
 0    15803
 1      116
 Name: warranty, dtype: int64)

In [374]:
(df["warranty"].str.count("(\d+) \(\w+\)").value_counts(dropna=False),
df["warranty"].str.count("Green").value_counts(dropna=False),
df["warranty"].str.count("Blue").value_counts(dropna=False))

(0    15228
 1      691
 Name: warranty, dtype: int64,
 0    15236
 1      683
 Name: warranty, dtype: int64,
 0    15911
 1        8
 Name: warranty, dtype: int64)

In [368]:
df["warranty"][df["warranty"].str.count("Blue") == True].index == df["emission_label"][df["emission_label"].str.count("Blue") == True].index 
#aynı veri emission labelde mevcut mu kontrol etmek istedim

array([False, False, False, False, False, False, False, False])

In [383]:
df["warranty2"] = df["warranty"].str.extract("(\d+) mont")
df["warranty2"].count()

4853

In [384]:
co2_emission_df["warranty"] =  df["warranty"].str.extract("(\d+) g", expand=False)
co2_emission_df["warranty"].count()

3074

In [385]:
emission_class_df["warranty"] = df["warranty"].str.extract("(Euro \d\w-\w+|Euro \d\w|Euro \d+)", expand=False)
emission_class_df["warranty"].count()

3002

In [386]:
comb_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+comb",expand=False)
city_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+city",expand=False)
country_consumption_df["warranty"] = df["warranty"].str.extract("(\d+\.\d+|\d+) l/100\D+country",expand=False)

In [387]:
emission_class_df["emis_label_waran"] = df["warranty"].str.extract("(\d+) \(\w+\)", expand=False)
emission_class_df["emis_label_waran"].value_counts(dropna=False)

NaN    15228
4        683
5          8
Name: emis_label_waran, dtype: int64

In [388]:
emission_class_df

                  0 inspection_new emission_label warranty emis_label_waran
0            Euro 6         Euro 6            NaN      NaN                4
1            Euro 6            NaN              4      NaN              NaN
2            Euro 6            NaN              4      NaN              NaN
3            Euro 6            NaN            NaN      NaN              NaN
4            Euro 6            NaN            NaN   Euro 6              NaN
...             ...            ...            ...      ...              ...
15914           NaN            NaN            NaN      NaN              NaN
15915           NaN            NaN            NaN   Euro 6              NaN
15916  Euro 6d-TEMP   Euro 6d-TEMP            NaN      NaN                4
15917        Euro 6            NaN            NaN      NaN              NaN
15918        Euro 6            NaN              4      NaN              NaN

[15919 rows x 5 columns]